{% extends "base.html" %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" >
{% endblock %}

{% block content %}
        <section id="welcome-banner">
            <h1>Welcome to GnollPointer!</h1>
            <p>Create a character sheet for any TTRPG.</p>
        </section>
        <section id="gallery">
            <div class="gallery-grid">
                
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link_card">
                    <img src="{{ url_for('static', filename='images/Placeholder.png')}}">
                    <p>
                        New Character
                    </p>
                </a>

                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link_card">
                    <img src="{{ url_for('static', filename='images/Placeholder.png')}}">
                    <p>
                        My Characters
                    </p>
                </a>
                
            </div>
        </section>
        <section id="other-stuff">
            <a href="style_page.html" id="style-link">Change Style?</a>
        </section>
        
{% endblock %}