{% extends "base.html" %}

{% block content %}
        <section id="welcome-banner">
            <h1>Welcome to GnollPointer!</h1>
            <p>We set out to make the most customizable TTRPG online character sheet possible. We hope you enjoy.</p>
        </section>
        <section id="gallery">
            <div class="gallery-grid">
                <figure class="gallery-item">
                    <img src="###" alt="placeholder">
                    <figcaption>Here we can put an image caption</figcaption>
                </figure>
                <figure class="gallery-item">
                    <img src="###" alt="placeholder">
                    <figcaption>Here we can put an image caption</figcaption>
                </figure>
            </div>
        </section>
        <section id="character-intro">
            <h2>Click here to start your adventure!</h2>
            <button id="create-character">Create Character</button>
        </section>
{% endblock %}