{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/expr-eval/2.0.2/bundle.min.js" integrity="sha512-TNliDPFdpL1W1sP7v9WzHUxTAY+PN7wRiHqJzntb4HpaJ0HlreSm0tzbA8MU7EBEoPTYgEtB+ZpbBB2yQQu49g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static',filename='CharacterEngine.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Test Page</h1>
    <input type="file" id="file-input">
    <pre id="file-content" style="color:white"></pre>
{% endblock %}