{% extends "base.html" %}
{% block head %}
{{ super() }}
<!-- <script type="module">
    import {parse, evaluate, jsep} from "https://esm.sh/jse-eval";
    window.jseEval = {parse: parse, evaluate: evaluate, jsep: jsep};
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/expr-eval/2.0.2/bundle.min.js" integrity="sha512-TNliDPFdpL1W1sP7v9WzHUxTAY+PN7wRiHqJzntb4HpaJ0HlreSm0tzbA8MU7EBEoPTYgEtB+ZpbBB2yQQu49g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="importmap">
    {
        "imports":{
            "CharacterEngine":"{{ url_for('static',filename='CharacterEngine/CharacterEngine.js') }}",
            "Path":"{{ url_for('static',filename='CharacterEngine/Path.js') }}",
            "Nodes":"{{ url_for('static',filename='CharacterEngine/Nodes.js') }}",
            "ExprValue":"{{ url_for('static',filename='CharacterEngine/ExprValue.js') }}",
            "helpers":"{{ url_for('static',filename='CharacterEngine/helpers.js') }}",
            "EventBus":"{{ url_for('static',filename='CharacterEngine/EventBus.js') }}"
        }
    }
</script>

<link rel="modulepreload" href="{{ url_for('static',filename='CharacterEngine/helpers.js') }}">
<link rel="modulepreload" href="{{ url_for('static',filename='CharacterEngine/ExprValue.js') }}">
<link rel="modulepreload" href="{{ url_for('static',filename='CharacterEngine/Path.js') }}">
<link rel="modulepreload" href="{{ url_for('static',filename='CharacterEngine/Nodes.js') }}">
<link rel="modulepreload" href="{{ url_for('static',filename='CharacterEngine/EventManager.js') }}">
<link rel="modulepreload" href="{{ url_for('static',filename='CharacterEngine/CharacterEngine.js') }}">

<script type="module" src="{{ url_for('static',filename='CharacterEngine/test.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Character Test Page</h1>
    <div>
        <input type="file" id="file-input" onchange="readSingleFile(event)">
        <button style="padding:0 5px" onclick="clearFile(event)">Clear</button>
        <button style="padding:0 5px" onclick="downloadSave()" class="hidden" id="save-button">Save</button>
    </div>
    <pre id="error-content" style="color:red"></pre>
    <div id="html-content"></div>
{% endblock %}