/* Character.HTML specific stuff */
/*-------------------------------*/

#testing_testing {
    background-color:transparent;
}

#character_container {
    background-color: var(--secondary-color);
}

.hidden {
    display: none;
}

#character_sheet_header img {
    max-width: 30%;
}

#cantrip-container {
    padding: 20px;
    display: flex;
    border: 2px dashed;
    max-width: 200px;
    align-items: center;
    flex-direction: column;
}

#spell-container-level1 {
    padding: 20px;
    display: flex;
    border: 2px dashed;
    max-width: 200px;
    align-items: center;
    flex-direction: column;
}

.spell {
    align-items: self;
    cursor: grab;
}

.dragging {
    opacity: 50%;
}

/*END Character.HTML specific stuff*/
/*---------------------------------*/