header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid gray;
}

nav{
    display: flex;
    list-style: none;
    gap: 30px;
}
header img{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .9);
}

details div {
    margin-left: 1rem;
    div div {
        margin:unset;
    }
}

#welcome {
    text-align: center;
}

#html-content{
    max-width: max-content;
    border-right: 1px solid black;
    height:700px;
}

summary{
    border:1px solid black;
}
input{
    width:5ch;
}
li{
    list-style:none;
}
div details div details{
    border:1px solid black;
}