

:root {
    --primary-color: #4e1818;
    --parchment-color: #fff5eb;
    --ivy: #638165;
    --secondary-color: red;
    --accent1-color: orange;
    --accent2-color: cyan;
    --text-color: white;
    --background-color: rgb(78, 24, 24);

    --heading-font: 
    --paragraph-font: 

}

h1, h2, h3, h4, h5, p {
    color: var(--text-color);
}

body {
    background-color: var(--primary-color);
}

main {
    max-width: 90%;
    background-color: brown;
    margin: 0 auto;
}

#character_container {
    background-color: var(--secondary-color);
}

.hidden {
    display: none;
}

#character_sheet_header img {
    max-width: 30%;
}