:root {
    --primary-color: rgb(78, 24, 24);
    --secondary-color: red;
    --accent1-color: orange;
    --accent2-color: cyan;
    --text-color: white;

    --heading-font: 
    --paragraph-font: 


}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid gray;
}

nav{
    display: flex;
    list-style: none;
    gap: 30px;
}

#welcome {
    text-align: center;
}